/* шрифты */

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
  src: url("../fonts/roboto400.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
  src: url("../fonts/roboto500.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto";
  src: url("../fonts/roboto700.woff2");
  font-display: swap;
}

/* скрываем попапы */

.search-hidden,
.login-hidden,
.chart-hidden,
.feedback-hidden {
  display: none;
}

/* основные параметы страниц */

.page {
  background-color: rgb(132, 157, 143);
  color: rgb(50, 50, 50);
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-size: inherit;
}

a:hover,
a:active {
  color: rgb(255, 188, 158);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  width: 1200px;
}

/* хедер - навигация - главное меню */
.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  outline: 1px dashed blue;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  margin-right: 10px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 0;
  padding: 0;
  max-width: 700px;
  list-style: none;
}

.site-navigation-item {
  padding: 6px 15px;
  border-radius: 15px;
  color: white;
  text-decoration: underline;
  white-space: nowrap;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation-item:last-of-type {
  margin-right: 0;
}

.site-navigation-item-current {
   background-color: rgb(208, 112, 88);
   color: white;
   text-decoration: none;
}

.site-navigation-item:hover {
  background-color: rgb(247, 246, 243);
  color: black;
  text-decoration: none;
}

.site-navigation-item-link {
  white-space: nowrap;
}

.site-navigation-item-link:hover {
  color: black;
  text-decoration: none;
}

/* хедер - главное меню - подменю */

.catalog-menu {
  background-color: rgb(248, 247, 244);
}

.catalog-menu-hidden {
  display: none;
}

.catalog-menu-item {
  color: rgb(50, 50, 50);
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.catalog-menu-item:hover {
  background-color: rgb(251, 222, 215);
}

.catalog-menu-item:active {
  background-color: rgb(246, 181, 165);
}

.catalog-menu-item-new {
  font-weight: 700;
}

.catalog-menu-item-current {
  background-color: rgb(208, 112, 88);
}

/* хедер - пользовательское меню в заголовке - кнопки */
.header-section-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
  list-style: none;
}

.header-button {
  margin-right: 12px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 45px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  color: white;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header-button:last-of-type {
  margin-right: 0;
}

.header-button:hover {
  background-color: rgba(248, 247, 244, 0.5);
  color: black;
}

.header-button-search {
  overflow: hidden;
  padding-left: 15px;
  background-image: url("../img/header-search.svg");
  background-position: 7px center;
  text-indent: -1000px;
}

.header-button-search:hover {
  background-image: url("../img/header-search-hover.svg");
}

.header-button-login {
  background-image: url("../img/header-entrance.svg");
  background-position: 14px center;
}

.header-button-login:hover {
  background-image: url("../img/header-entrance-hover.svg");
}

.header-button-chart {
  background-image: url("../img/header-chart.svg");
  background-position: 14px center;
}

.header-button-chart-full {
  background-image: url("../img/header-chart-full.svg");
  background-position: 14px center;
}

/* контакты в заголовке */
.contact-info {
  position: absolute;
  right: 25px;
  bottom: -42px;
  width: 170px;
}

.contact-info-work-telephone {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  text-align: right;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.telephone {
  font-size: 22px;
  line-height: 24px;
}

/* main */

/* хлебные крошки */

.breadcrumbs {
  position: absolute;
  top: 100px;
  left: 25px;
  display: flex;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  color: white;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-item::after {
  padding-right: 5px;
  padding-left: 5px;
  content: "»";
}

.breadcrumbs-item-link {
  text-decoration: underline;
}

.main-page-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.inner-page-title {
  color: white;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.filters {
  margin-bottom: 40px;
  min-height: 160px;
  outline: 1px dashed blue;
}

/* раздел преймущества */
.features-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 25px;
  margin-left: 25px;
  padding: 0;
  outline: 1px dashed blue;
  list-style: none;
}

.features {
  margin-bottom: 40px;
  padding-top: 1px;
  min-height: 305px;
  outline: 1px dashed blue;
  border-radius: 15px;
  background-color: rgb(238, 226, 203);
  background-image: url("../img/features-background.jpg");
}

.features-column-left,
.features-column-right {
  width: 535px;
  outline: 1px dashed blue;
}

.features-item {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 53px;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

.features-item-tech {
  background-image: url("../img/features-ice-cream.svg");
}

.features-item-eco {
  background-image: url("../img/features-eco.svg");
}

.features-item-farms {
  background-image: url("../img/features-cow.svg");
}

.features-item-thermo {
  background-image: url("../img/features-thermometer.svg");
}

/* раздел блог - новости */

.blog {
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
}

.blog-intro {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 500;
}

.article-announce-header {
  margin: 0;
  padding: 0;
}

.article-link {
  display: block;
  width: 300px;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
}

.slider {
  min-height: 527px;
  outline: 1px dashed blue;
}

.banner-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  min-height: 125px;
}

.banner-left,
.banner-right {
  min-height: 230px;
  width: 560px;
  outline: 1px dashed blue;
}

.hit {
  display: flex;
  margin-bottom: 30px;
  outline: 1px dashed blue;
}

.main-page-title {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 0;
  margin-left: 25px;
  outline: 1px dashed blue;
}

.inner-page-title {
  margin-top: 0px;
  margin-bottom: 0px;
  outline: 1px dashed blue;
}

.blog-and-subscribe-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  outline: 1px dashed blue;
}

.blog,
.subscribe {
  width: 560px;
  height: 220px;
  outline: 1px dashed blue;
  border-radius: 15px;
}

.subscribe {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(248, 247, 244);
  background-image: url("../img/subscribe-background.jpg");
}

.map {
  min-height: 430px;
  width: 100%;
  outline: 1px dashed blue;
  background-color: rgba(221, 213, 188, 0.4);
  background-image: url("../img/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* каталог */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
  padding-right: 0;
  padding-left: 0;
  outline: 1px dashed blue;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 23px;
  margin-bottom: 30px;
  min-height: 325px;
  width: 270px;
  outline: 1px dotted green;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0px;
}

.catalog-item-hit {
  margin-bottom: 0px;
}

.catalog-item-hit::before {
  position: absolute;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
  content: "";
}

.list-item-header {
  order: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 50px;
  text-align: center;
}

.catalog-item-image {
  order: -1;
  margin-bottom: 15px;
  height: 267px;
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  top: 210px;
  left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item-header-link {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-price {
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.price-value {
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

/* футер - ссылки и копирайт */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  color: white;
  text-decoration: underline;
  font-size: 13px;
  line-height: 18px;
}

.production-suplliers {
  padding-left: 20px;
  background-image: url("../img/production-info-heart.svg");
  background-position: 0 3px;
  background-repeat: no-repeat;
  font-weight: 700;
}

.copyright-link {
  font-size: 12px;
}

/* футер - социальные кнопки  и ссылки */
.social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 190px;
}

.social-button {
  overflow: hidden;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
}

.social-button-twitter {
  background-image: url("../img/social-button-twitter.svg");
}

.social-button-instagramm {
  background-image: url("../img/social-button-instagram.svg");
}

.social-button-facebook {
  background-image: url("../img/social-button-fb.svg");
}

.social-button-vk {
  background-image: url("../img/social-button-vk.svg");
}

.production-and-documents-wrap {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.production-info {
  display: flex;
  flex-direction: column;
}

.documents {
  display: flex;
  flex-direction: column;
}

.copyrights {
  display: flex;
  flex-direction: column;
  width: 190px;
}

/* кнопки */

.btn {
  box-shadow: 0 1px 2px 0 rgb(172, 16, 0);
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-orange {
  background-color: #e84d36;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn-orange:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-color: #ed715e;
  box-shadow: 0 2px 2px #ac1000;
}

.btn-orange:active {
  background-color: rgba(0, 0, 0, 0.07);
  background-color: #e1613e;
  box-shadow: inset 0 2px 2px #942718;
}

.pagination-wrap {
  margin-bottom: 30px;
  min-height: 30px;
  outline: 1px dashed blue;
}

.hit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  outline: 1px dashed blue;
}
